{% extends "base.html" %}

{% block content %}
    <script src="http://code.jquery.com/jquery-1.9.0.min.js" type="text/javascript"></script>

    <script>

    $(document).ready(function() {
        update();
    });

    var messages_count =  {{ messages|length }}

    window.onbeforeunload = function() {
        $.ajax({
            async: false,
            url: "/delete/{{ room_name }}/{{ username }}"
        });
    };

    function send() {
        var ws = new WebSocket("ws://127.0.0.1:8000/websocket/{{ room_name }}/");

        ws.onopen = function() {
            var ta = document.getElementById('message_textarea');
            if (ta.value == '') {
                alert('You can`t send empty message')
            } else {
                var json = {'username':'{{ username }}', 'text':ta.value};
                ws.send(JSON.stringify(json));
                ta.value = '';
            }
        };

        ws.onmessage = function(evt) {
            add_message(evt.data);
        }
    }

    function update() {
        var ws = new WebSocket("ws://127.0.0.1:8000/update/{{ room_name }}/");
        
        ws.onopen = function() {
            var json = {'messages_count' : messages_count};
            ws.send(JSON.stringify(json));
        }

        ws.onmessage = function(evt) {
            var json = JSON.parse(evt.data);
            for (var i = 0; i < json.new_messages.length; i++) {
                add_message(json.new_messages[i]);
            }
        }

        setTimeout(update, 500);
    }

    function add_message(data) { 
        var div = document.getElementById('messageid');
        div.innerHTML = data + '<br>' + div.innerHTML;
        messages_count = messages_count + 1;
    };

    </script>
    {{ username }} | <a href='/login/{{ room_name }}/'> Change nickname </a> 
    <hr>
    <div class="chat" align='center'>
        <div align='left' id='messageid' class="message" 
            style="height:350px; width: 600px; overflow-y:scroll;">
            {% for message in messages reversed %}
                <b>{{ message.username }}</b>:{{ message.text }}<br>
            {% endfor %}
        </div>
        <form class="message_form">
            <div class="compose">
                <textarea rows="4" cols="60" id="message_textarea"></textarea>
            </div>
            <div class="send">
                <button class="btn" type="button" onclick="send();">Отправить</button>
            </div>
        </form>
    </div>
{% endblock %}